/config/database.php
/coverage
/node_modules
/.nyc_output
/public/hot
/public/storage
/reports
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
.env.example
.phpunit.result.cache
.editorconfig
.env.prod
.env.backup
*.dump
*.log