// Home page

.guild-img{

    height: 100vh;
    // background-color: white;
    display: inline-block;
}

// Guild Index

.guild-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    max-width: 90%;
    margin: 0 auto;
}

.guild-card {
    text-align: center;
    h5 {
        margin: 0;
    }
}

.members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    max-width: 90%;
    margin: 0 auto;
}

// Members Show Page

.member-events {
    overflow: auto;

    table, table > thead {
        // border: none;
        // border-top-color:transparent;
    }
}



// General Styling

.heading {
    color: rgba(218,8,8,1);
}

.show-events{
    max-width: 600px;
    margin: 0 auto;
}

body {
    // background-color: black;
}

table {
    th:nth-child( n + 3) {
        text-align: center;
    }

    td:nth-child( n + 3) {
        text-align: center;
    }

}