// Home page
$color-primary: #4CAF50;
$color-primary-light: #66BB6A;
$color-text-light: snow;

.enter-button {
  background: $color-primary;
  border: none;
  border-radius: 25px;
  color: $color-text-light;
  cursor: pointer;
  font-size: 1.25em;
  letter-spacing: .1em;
  outline: none;
  padding: .75em 2em;
  position: relative;
  text-transform: uppercase;
  z-index:100;
      @media only screen and (max-width: 500px) {
       font-size: 1em;
    } 

  &:hover {
    animation: glow 1s ease-in infinite;
  }
  
  &::before {
    animation: glow 1s ease-in infinite;
    background: $color-primary;
    border-radius: inherit;
    content: '';
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }
  
  &:hover::before {
    filter: blur(20px);
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    background: $color-primary;
  }
  25% {
    background: $color-primary-light;
  }
  100% {
    background: $color-primary;
  }
}

.ninja {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
    background-size: cover;
}

.intro{
    height: 100vh;
    width: 40vw;
    display: inline-block;
    // background-color: yellow;
    z-index: 100;
    
    @media only screen and (max-width: 500px) {
        width: 70vw;
    }
        img {
            width: 40vw;
            margin-left: 2em;
            
            @media only screen and (max-width: 500px) {
                width: 60vw;
            }
        }
}



// Guild Index

.guild-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    max-width: 90%;
    margin: 0 auto;
}

.guild-card {
    text-align: center;
    h5 {
        margin: 0;
    }
}

.members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    max-width: 90%;
    margin: 0 auto;
}

// Members Show Page

.member-events {
    overflow: auto;

    table, table > thead {
        // border: none;
        // border-top-color:transparent;
    }
}



// General Styling

.heading {
    color: rgba(218,8,8,1);
}

.show-events{
    max-width: 600px;
    margin: 0 auto;
}

body {
    // background-color: black;
}

table {
    th:nth-child( n + 3) {
        text-align: center;
    }

    td:nth-child( n + 3) {
        text-align: center;
    }

}