// Guild Index

.guild-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    max-width: 90%;
    margin: 0 auto;
}

.guild-card {
    text-align: center;
    h5 {
        margin: 0;
    }
}

.members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    max-width: 90%;
    margin: 0 auto;
}

// Members Show Page

.member-events {
    overflow: auto;

    
    table, table > thead {
        // border: none;
        // border-top-color:transparent;
    }
}



// General Styling

body {
    // background-color: black;
}

table {
    th:nth-child( n + 2) {
        text-align: center;
    }

    td:nth-child( n + 2) {
        text-align: center;
    }

}