.members-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 10px;
  max-width: 90%;
  margin: 0 auto;
}

.member-card {
  overflow: auto;

  table {
    th:first-child {
      min-width: 175px;
    }

    th:nth-child(n + 2) {
      min-width: 100px;
      text-align: center;
    }

    td:nth-child(n + 2) {
      text-align: center;
    }
  }
}

.card-body.member{
  width: 230px;
  margin: 0 auto;
  text-align: center;
}